th, td {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
}

table {
    border: 1px double black;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    background-color: rgba(255, 255, 255, 0.8);
}
